* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #FFFF;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  font-size: 15px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-links a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: #ff0004;
}

.logo {
  color: #d4d4d4;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: red;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
color: #fdfdfd;
}

.title span {
  color: red;
}

.feedback-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form h2 {
  color: #c00;
  margin-bottom: 10px;
}

.feedback-form p {
  margin-bottom: 20px;
  font-size: 14px;
}

.question-nome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.question-nome label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.question-nome input[type="text"] {
  width: 300px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #d3d3d3, #f0f0f0);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  font-size: 16px;
  color: #333;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.question-nome input[type="text"]:focus {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.question {
  text-align: center;
  margin-bottom: 20px;
}

.question label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.options {
  display: flex;
  gap: 20px;                 
  justify-content: center;   
}

.options input[type="radio"] {
  margin-right: 5px;
}

  button[type="submit"] {
      background-color: #c00;
      color: white;
      border: none;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button[type="submit"]:hover {
      background-color: rgb(233, 233, 233);
      color: #000000;
      transform: scale(1.05);
    }

