* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  font-size: 15px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* <-- Isso remove a rolagem lateral */
  overflow-y: auto;
  /* mantém só a rolagem vertical */
}

.profile-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-container img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile-container .dropdown-arrow {
  margin-left: 8px;
  font-size: 14px;
  color: #4e4d4d;
}

/* Menu suspenso */
.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: none;
  z-index: 1000;
}

/* Lista de opções */
.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  transition: background 0.2s ease;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}



header {
    background-color: black;
  position: relative;
  /* Agora não fica mais fixa */
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logotipo img {
  width: 42px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.logotipo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: #ff0004;
}

#tabela-respostas thead th {
  background: linear-gradient(to right, #000000, #ff0000);
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid #f5f5f5;
}

.title {
    text-align: center;
    color: red;
}
h2 {
    color: #c00;
    margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#tabela-respostas {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* força largura igual */
}

#tabela-respostas th,
#tabela-respostas td {
  width: 16.66%; /* 100% dividido por 6 colunas */
  padding: 10px;
  text-align: center;
  word-wrap: break-word; /* quebra texto longo */
}



button {
  margin-top: 20px;
  background-color: rgb(238, 10, 10);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0ef319;
}