* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #FFFF;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  font-size: 15px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-links a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: #ff0004;
}

.logo {
  color: #d4d4d4;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: red;
}

#tabela-respostas thead th {
  background: linear-gradient(to right, #000000, #ff0000);
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid #f5f5f5;
}

.title {
    text-align: center;
    color: red;
}
h2 {
    color: #c00;
    margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#tabela-respostas {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* força largura igual */
}

#tabela-respostas th,
#tabela-respostas td {
  width: 16.66%; /* 100% dividido por 6 colunas */
  padding: 10px;
  text-align: center;
  word-wrap: break-word; /* quebra texto longo */
}



button {
  margin-top: 20px;
  background-color: rgb(238, 10, 10);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0ef319;
}